{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="POST">
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" placeholder="Digite seu email" required>
    </div>
    <div class="mb-3">
        <label>Senha</label>
        <input type="password" name="senha" class="form-control" placeholder="Digite sua senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% if erro %}
<p class="text-danger mt-2">{{ erro }}</p>
{% endif %}
{% endblock %}
